*{
    box-sizing:border-box;
}
body {
    margin: 0;
}

#info {
    background-color: darkslategray;
    padding-left:20px;
}
p {
    padding-left:20px;
}

iframe {
    height: 250px;
    width: 1500px;
    padding-left:150px;
}

img {
    width: 300px;
    height: 300px;
    -webkit-filter:grayscale(100%);
    filter:grayscale(100%);
}

footer {
    background-color:darkslategray;
    padding: 13px;
    display: flex;
}

html {
    font-family: Copse, sans-serif;
    font-size:20px;
}

a {
    color: purple;
}

header {
    background-color: rgb(94, 9596, 204);
    text-align: center;
    padding: 35px;
}
div#apen {
    background-color: rgb(27, 3349, 58);
    padding: 30px;
}
@media all and (max-width:607px){
    img{
        width:300px;
    }
    body{
        width:1000px;

    }
    #footer{

    }
}
@media all and (min-width:607px) {
    img{
        width:150px;
        height:150px;

    }
    #apen {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 20px;
        width: 100%;
    }
    footer, header, #apen {
        width: 100%;
    }
    iframe {
        height:100%;
        width:100%;
    }
}
.sidebar{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: #f1f1f1;
}
.sidebar .closebtn {
    position: absolute;
    top: 0;

    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
.openbtn:hover {
    background-color: #444;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
#voeding h2 a {
    text-decoration:none;
    color:black;
}
#voeding h2 a:hover{
    background-color:#444;
}

